.todoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: white;
    margin: 6px 4px;
    border-radius: 12px;
    word-break: break-word;  
}

.todoItem > p {
    flex: 1;
}

.todoItem--done {
    text-decoration: line-through;
}

.todoItem > button {
    width: 18%;
    background-color: rgb(214, 213, 213);
    border: none;
    border-radius: 10px;
    margin: 6px 4px;
}

.todoItem > button:hover {
    background-color: rgb(189, 183, 183);
}
